<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <form action="/category/create" method="POST">
            <fieldset class="form">
                <legend class="legend_bg">Update Category</legend>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="error">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="entries">
                    <div class="row">
                        <label for="title">Title:</label>
                        <input type="text" name="title" value="{{this_category.title}}">
                    </div>
                    <div class="row">
                        <label for="image">Image:</label>
                        <input type="text" name="image" value="{{this_category.image}}">
                    </div>
                </div>
                <div class="form_button">
                    <button id="add_button">Add Category</button>
                </div>
            </fieldset>
            <p class="footer">
                <a href="/{{this_collectionID}}/category/{{this_category.id}}">Go Back</a>
            </p>
            <input type="hidden" name="collection_id" value="{{this_collectionID}}">
        </form>
    </div>
</body>
</html>