<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="bgImage login_image">
        <div class="container">
            <div class="login_content">
                <div class="right_col">
                    <p>Organize.</p>
                    <p>Track.</p>
                    <p>Simplified.</p>
                </div>
                <div class="left_col">
                    <form action="/login_user" method="post">
                        <fieldset class="form">
                            <legend class="legend_bg">Welcome!</legend>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="error">
                                        {% for message in messages %}
                                            <p>{{message}}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="entries">
                                <div class="row">
                                    <label for="email">Email:</label>
                                    <input type="text" name="email">
                                </div>
                                <div class="row">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password">
                                </div>
                                <div class="form_button">
                                    <button id="login_button">Login</button>
                                </div>
                            </div>
                        </fieldset>
                        <p class="footer">
                            Don't have an account? 
                            <a href="/sign_up">Create One</a>
                        </p> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>