<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="banner">
        <img src="{{url_for('static', filename='images/ItemInventory.jpg')}}" alt="ItemInventory Logo" class="icon">
        <div class="searchBar">
            <input type="search" name="searchBar" placeholder="Search Categories/Items..." id="collectionSearchBar">
        </div>
        <div class="navButons">
            <a href="/collection/edit/{{this_collection.id}}">Edit</a>
            <a href="">Logs</a>
            <a href="/collection/delete/{{this_collection.id}}">Delete</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <div class="bgImage">
        <div class="header">
            <h1>{{this_collection.title}}</h1>
        </div>
        <div class="category_display">
            <div class="addCategory">
                <a href="/{{this_collection.id}}/category/new">
                    <p>+</p>
                    <p>Add category</p>
                </a>
            </div>
            {% if all_categories %}
                {% for category in all_categories %}
                    <div class="categoryBox">
                        <a href="/{{this_collection.id}}/category/{{category.id}}">{{category.title}}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>