/* BANNER PROPERTIES */
.banner {
    background-color: #91B2C7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.icon {
    width: 50px;
    border-radius: 5px;
}

#SearchBar {
    width: 500px;
    height: 25px;
    margin-left: 5px;
    padding: 5px;
    position: relative;
}

.top_left {
    display: flex;
    align-items: center;
}

.navButtons {
    display: flex;
    /* width: 1000px; */
}

.banner a, .item_actions a {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
}

.banner a:hover, .item_actions a:hover {
    background-color: black;
    color: whitesmoke;
}

.banner .delete_item:hover {
    background-color: lightcoral;
}