/* FORM PROPERTIES */
.form {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    width: 500px;
    border: 5px solid black;
    border-radius: 10%;
}

legend {
    margin: 0px 35px;
    padding: 10px;
    font-size: 20pt;
    font-weight: bold;
    /* border: 1px solid black; */
}

/* .legend_bg{
    background-color: whitesmoke;
} */

.entries {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#quantity_input{
    display: inline-block;
}

#item_name_input {
    width: 300px;
}

#item_quantity_input {
    padding: 8px;
    width: 50px;
    height: 15px;
}

#item_link_input {
    width: 420px;
}


.row {
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.col {
    display: block;
    margin: 0px 5px;
}

label {
    display: block;
    font-size: larger;
}

input {
    height: 25px;
    padding: 3px;
}

.form_button {
    display: flex;
    justify-content: center;
    align-items: center;
}